.vc_general.vc_cta3.vc_cta3-shape-rounded {
    border-radius: 5px;
}

.vc_general.vc_cta3.vc_cta3-style-classic {
    border-color: #f0f0f0;
    background-color: #f7f7f7;
}
.vc_general.vc_cta3 {
    border: 1px solid transparent;
    /* font-size: 1em; */
    padding: 28px 28px;
    word-wrap: break-word;
}

/** AMP CSS **/
.vc_cta3-container{
	margin-bottom:30px;
}
.vc_cta3-content-header h2{
	color: #333333;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.01rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.625rem;
    text-transform: none;
}