 .ampTabContainer {
            display: flex;
            flex-wrap: wrap;
}

.tabButton[selected] {
    outline: none;
    background: #ccc;
}

.tabButton {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.tabContent {
    display: none;
    width: 100%;
    order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
    border: 1px solid #ccc;
}

.tabButton[selected]+.tabContent {
    display: block;
}

/* For example below (not required) */
.itemCustom {
    border: 1px solid #000;
    height: 280px;
    width: 380px;
    margin: 10px;
    text-align: center;
    padding-top: 140px;
}
amp-selector {
  padding: 1rem;
  margin: 1rem;
}

/** AMP CSS **/
.vc_tta-panels-container .tabButton{
    border-color: #e3e3e3;
    background-color: #ebebeb;
    color: #666;
}
.vc_tta-panels-container amp-selector [option][selected]{
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    color: #666;
    z-index: 999999;
    margin-bottom: -1px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}
.vc_tta-panels-container .tabContent{
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    color: #666;
    padding: 20px;
    border-radius: 1px 5px 5px 5px;
}
.vc_tta-panels-container .tabButton{
    flex-grow: 0;
    margin: 1px 1px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 20px;
}
.vc_tta-panels-container .tabButton:hover{
    background:#dcdcdc;
}
.vc_tta-title-text{
    font-size: 16px;
    font-weight: 500;
}
.vc_tta-tab {
    
}